.osc-sliders {
  /*display: inline;*/

  -webkit-appearance: slider-vertical;
  margin-left: 5px;
  margin-right: 5px;
  height: 80px;
  width: 2px;

}

h1 {
  text-align: center;
}

#sonority-container {
  margin: 0px, auto;
}

#keyboard {
  display: block;
  margin: 30px auto !important;
}

#master-vol {
  width: 100px;
}

.repeatingDiv {
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

#wrapper {
  display: block;
  text-align: center;
}

.mainControls {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.entryDiv {
  display: inline-block;
}

.playToggle {
  float: top, left;
}
button {
  display: inline-block;
}

.step-input {
  width: 60px;
  display: block;
}
.freq-entry {
  width: 60px;
  display: block;
}