.osc-sliders {
  -webkit-appearance: slider-vertical;
  margin-left: 5px;
  margin-right: 5px;
  height: 80px;
  width: 2px;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 35px;
}

p {
  text-align: center;
  margin-top: 30px;
}

.instruction {
  margin: 30px;
}

p input {
  width: 60px;
  margin-left: 7px;
}
#sonority-container {
  margin: 0px, auto;
}

#keyboard {
  display: block;
  margin: auto !important;
}

#master-vol {
  width: 100px;
}

.repeatingDiv {
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

#wrapper {
  display: block;
  text-align: center;
  height: 88px;
}

.mainControls {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.entryDiv {
  display: inline-block;
}

.dropdown-menu li:hover {
    cursor: pointer;
}

.playToggle {
  float: top, left;
}
button {
  display: inline-block;
}

.step-input {
  width: 60px;
  display: block;
}

.freq-entry {
  width: 60px;
  display: block;
}