<div id='sonority-container'>
  <h1>Sonority Generator</h1>
  <div class='mainControls'>
    <button class='btn btn-primary' ng-click='open()'>Instructions</button>
    <div class="btn-group" dropdown keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn" dropdown-toggle>
          Waveform <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role='menuitem' ng-repeat='wave in waveOptions' ng-click='setWaveType(wave)'><a>{{wave}}</a></li>
        </ul>
    </div>
    
    <button class='btn' ng-click="makeOscillator()">Add</button>
    <input id='master-vol' type='range' ng-model = 'masterVolume.value' min='0' max='.6' step='.01' value='.15'></input>
    <button class='btn' ng-click="randomize()">Randomize</button>
    <button class='btn' ng-click="toggleProgression()">{{progressing ? 'Stop Progression' : 'Start Progression'}}</button>
    <button class='btn' ng-click="stopAll()">Stop All</button>
  </div>
  <div id='wrapper'>
    <div class='repeatingDiv' ng-repeat='oscillator in oscillators'>

      <div class='entryDiv'>
        <button isPlaying='false' ng-click="toggleSound(oscillator, $event)" class='btn btn-primary playToggle'>{{oscillator.playing ? 'Stop' : 'Start'}}</button>
        <input  class='freq-entry' placeholder='Freq' type='number' ng-model = 'oscillator.osc.frequency.value' step='{{notestep}}'></input>  
        <input class='step-input' placeholder='Step' type='number' ng-model ='notestep'></input>
      </div> 
      <input class='osc-sliders' ng-model='oscillator.osc.frequency.value'  type='range' min='0' max='3000' step='{{notestep}}' val='440'></input>
      <input class='osc-sliders' ng-model='oscillator.gain.gain.value'  type='range' min='0' max='1' step='.01' val='.25'></input>
     
    </div>
  </div>  
  <p>cents between adjacent keys:<input type='number' value='0' step='1' ng-model='cents' ng-change='calculateOffset(cents)'></input></p>
  <div id='keyboard'></div>  
</div>  